@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
@import url(jquery.orgchart.css);

body { padding-top:30px;       
}

#orgChart {
overflow: auto;

}

.person{
    border: 1px solid;
}